{{!-- Tier Starts --}}
<div class="m-portlet m-4 mt-5 borderradiusbox lighttxtcolor">
   <form id="account_role_edit" method="POST" action="/vendors/{{shopId}}/accountrole/editdata"  class="m-form m-form--fit1">
   <input type="hidden" name="userId" value="{{data.userId}}" />
   <input type="hidden" name="password" value="{{data.password}}" />
   <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
         <div class="">            
            <div class="d-block font-s-12 fw-600">Edit Account Role</div>
         </div>         
      </div>
   </div>
   <div class="m-portlet__body bgwhitelight brbottomlr">
      <div class="form-group m-form__group1 row">
         <div class="col-md-4">
            <div class="row align-items-center">
               <div class="col-12 col-xl-4">
                  <label class="m-xl-0" for="firstName">First Name</label>
               </div>
               <div class="col">
                  <div class="m-input-icon m-input-icon--right">
                    <input type="text" name="firstName" value="{{data.firstName}}" id="firstName" class="form-control m-input" placeholder="">
                     <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-pencil"></i></span></span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4 mob-mt-3">
            <div class="row align-items-center">
               <div class="col-12 col-xl-4">
                  <label class="m-xl-0" for="lastName">Last Name</label>
               </div>
               <div class="col">
                  <div class="m-input-icon m-input-icon--right">
                     <input type="text" name="lastName" value="{{data.lastName}}" id="lastName" class="form-control m-input" placeholder="">
                     <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-pencil"></i></span></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="form-group m-form__group1 row mt-md-4">
         <div class="col-md-4">
            <div class="row align-items-center">
               <div class="col-12 col-xl-4">
                  <label class="m-xl-0" for="username">Username</label>
               </div>
               <div class="col">
                  <div class="m-input-icon m-input-icon--right">
                     <input type="text" name="username" value="{{data.username}}" id="username" class="form-control m-input" readonly placeholder="">
                     <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-pencil"></i></span></span>
                  </div>                  
               </div>
            </div>
         </div>
         <div class="col-md-4 mob-mt-3">
            <div class="row align-items-center">
               <div class="col-12 col-xl-4">
                  <label class="m-xl-0" for="email">Email</label>
               </div>
               <div class="col">
                  <div class="m-input-icon m-input-icon--right">
                     <input type="email" name="email" value="{{data.email}}" id="email" class="form-control m-input" readonly placeholder="">
                     <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-pencil"></i></span></span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4 mob-mt-3">
            <div class="row align-items-center">
               <div class="col-12 col-xl-4">
                  <label class="m-xl-0" for="phone">Phone Number</label>
               </div>
               <div class="col">
                  <div class="m-input-icon m-input-icon--right">
                     <input type="text" name="phone" value="{{data.phone}}" id="phone" class="form-control m-input" readonly placeholder="">
                     <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-pencil"></i></span></span>
                  </div>                  
               </div>
            </div>
         </div>
      </div>
      <div class="form-group m-form__group1 row mt-md-4">
         <div class="col-md-4">
            <div class="row align-items-center">
               <div class="col-12 col-xl-4">
                  <label class="m-xl-0" for="newPassword">Password</label>
               </div>
               <div class="col">
                  <div class="m-input-icon m-input-icon--right">
                     <input type="password" name="newPassword" id="newPassword" class="form-control m-input" placeholder="">
                     <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-pencil"></i></span></span>
                  </div>                  
               </div>
            </div>
         </div>
         <div class="col-md-4 mob-mt-3">
            <div class="row align-items-center">
               <div class="col-12 col-xl-4">
                  <label class="m-xl-0" for="confirmPassword">Confirm Password</label>
               </div>
               <div class="col">
                  <div class="m-input-icon m-input-icon--right">
                     <input type="password" name="confirmPassword" id="confirmPassword" class="form-control m-input" placeholder="">
                     <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-pencil"></i></span></span>
                  </div>                  
               </div>
            </div>
         </div>
      </div>
      
      <div class="row mt-5 align-items-center">
         <div class="col-lg-12 m--valign-middle">
            <button type="submit" class="btn btn-primary m-btn m-btn--custom fw-600">Update</button>
            <a href="/vendors/edit/{{shopId}}" class="btn btn-warning whitefont m-btn m-btn--custom fw-600 ml-2">Cancel</a>
         </div>
      </div>
   </div>
   </form>
</div>
{{!-- Tier Ends --}}
