{{!-- Tier Starts --}}
<div class="m-portlet m-4 mt-5 borderradiusbox lighttxtcolor">
   <form id="promotions_edit" method="POST" action="/promotions/editdata"  class="m-form m-form--fit1">
   <input type="hidden" name="redirect" value="{{query.redirect}}" />
   <input type="hidden" name="promotionId" value="{{data.promotionId}}" />
   <input type="hidden" name="status" value="{{data.status}}" />
   <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
         <div class="">            
            <div class="d-block font-s-12 fw-600">Promotion Details</div>
         </div>         
      </div>
      {{!-- <div class="m-portlet__head-tools">
         <span class="m-switch m-switch--success">
            <label class="m-0 d-block">
               <input type="checkbox" {{#if data.status}}checked="checked"{{/if}} class="statusbtn">
               <span></span>
            </label>
         </span>
      </div> --}}
   </div>
   <div class="m-portlet__body bgwhitelight brbottomlr">
      <div class="form-group m-form__group1 row">
         <div class="col-md-4">
            <div class="row align-items-center">
               <div class="col-12 col-xl-4">
                  <label class="m-xl-0">Promotion Image</label>
               </div>
               <div class="col">
                  <label for="promotionImage" class="cur-pointer">
                     <img src="{{data.promotionImageUrl}}" id="promotionImageUrl" class="d-block m-auto img-fluid" alt="">
                     <span class="mt-2 m-badge m-badge--primary m-badge--wide m-badge--rounded">Upload Promotion Image</span>
                  </label>
                  <input type="file" name="promotionImage" class="custom-file-input hide" onchange="updatePImg(this, 'promotionImageUrl')" id="promotionImage">
               </div>
            </div>  
         </div>
         <div class="col-md-4 mob-mt-3">
            <div class="row align-items-center">
               <div class="col-12 col-xl-4">
                  <label class="m-xl-0" for="title">Title</label>
               </div>
               <div class="col">
                  <div class="m-input-icon m-input-icon--right">
                     <input type="text" name="title" value="{{data.title}}" id="title" class="form-control m-input" placeholder="">
                     <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-pencil"></i></span></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="form-group m-form__group1 row mt-md-4">
         <div class="col-md-8">
            <div class="row align-items-center">
               <div class="col-12 col-xl-2">
                  <label class="m-xl-0" for="description">Description</label>
               </div>
               <div class="col">
                  <div class="m-input-icon m-input-icon--right">
                     <textarea name="description" class="form-control m-input" id="description" rows="3">{{data.description}}</textarea>                     
                     <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-pencil"></i></span></span>
                  </div>                  
               </div>
            </div>
         </div>
      </div>
      
      <div class="row mt-5 align-items-center">
         <div class="col-lg-12 m--valign-middle">
            <button type="submit" class="btn btn-primary m-btn m-btn--custom fw-600">Update</button>
         </div>
      </div>
   </div>
   </form>
</div>
{{!-- Tier Ends --}}
